body {
    background-image: url("images/newspaper.jpg");
    background-color: #eee;
    padding-top: 70px;
}

.logo {
    display: inline;
    max-width: 50px;
    max-height: 50px;
}

#logo-container {
    padding: 0px !important;
}

#bs-example-navbar-collapse-1 a {
    font-size: 15px;
    padding: 15px 15px 5px !important;
    font-weight: bold;
    text-decoration: none !important;
    color: #1a1a1a;
}

#bs-example-navbar-collapse-1 a:hover {
    color: #c26b68;
    border-bottom: 2px solid #fd9a2b;
    cursor: pointer;
}

#post-img {
    max-width: 100% !important;
    max-height: 250px !important;
}

#post-link a {
    text-decoration: none !important;
    font-size: 14px;
    font-weight: bold;
    color: #03a9f4;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px;
}

#post-link a:hover {
    background-color: rgba(153, 153, 153, 0.2);
    border-bottom: 2px solid #03a9f4;
}

#post-links a {
    text-decoration: none !important;
}

.soc-icon > i{
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
}

.like{
    color: #c26b68;
    border-bottom: 2px solid #fd9a2b;
}

.list-justified-container{
    padding: 10px 10px 0px;
}

.list-justified{
    padding: 0px !important;
    list-style-type: none !important;
    text-align: center;
}

.list-justified li {
    text-align: center;
    min-width: 75px;
    padding: 0px 15px;
    margin: 5px;
    display: inline-block;
}

.panel-background{
    background-color: #c26b68; ;
}

.panel-background h3{
    color: #fff; ;
}

.panel-background p {
    font-weight: bold; ;
}

.list-info li {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.list-info li > span {
    color:  #00a9de;
}

.list-info li > span, .list-info li > label {
    margin: 0px 8px
}

.list-info li > p {
    display: inline;
    margin: 0px 10px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.posts-container{
    max-height: 400px;
    overflow-y: scroll;
}

.post-list{
    padding: 5px 5px 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee ;
}

.post-comments-container {
   max-height: 300px;
    overflow-y: scroll;
}

.post-comment{
    padding: 15px 8px 15px;
    border-bottom: 1px solid #999;
}